<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">



  <listeners>
        <listener class-name="ATTMPT2.E2EProject.Listeners" />
  </listeners>
 
 
    <test   name="ValidateNavigationBar">
    <classes>
      <class name="ATTMPT2.E2EProject.ValidateNavigationBar"/>
      </classes>
      </test>
 
        <test   name="ValidateTitle">
    <classes>
      <class name="ATTMPT2.E2EProject.ValidateTitle"/>
       </classes>
      </test>
      
   
      
        <test   name="HomePage">
    <classes>
      <class name="ATTMPT2.E2EProject.HomePage"/>
      </classes>
      </test>
      
</suite> <!-- Suite -->
